body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-intro {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 50vw;
  text-align: center;
}

.astronauts-carousel-container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 50vw;
  text-align: center;
}

.astronaut-paper {
  padding: 2em;
}

.iss-location-container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 90vw;
  height: 50vh;
  text-align: center;
}

.profile-container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 75vw;
  text-align: center;
}

.profile-image {
  max-width: 10vw;
  max-height: 10vh;
}

.pryon-logo {
  margin: 20px;
  transform: scale(4);
  filter: drop-shadow(1px 1px .5px black);
  transition: transform .5s;
}

.pryon-logo:hover {
  transform: scale(5);
  transition: transform .5s;
}